<h1>詳細画面</h1>
<%= image_tag @user.image, :size =>'200x200' if @user.image.attached? %><br>
<%= @user.name %><br>
<%= @user.email %><br>
<% if @user == current_user %>
  <%= link_to "編集する", edit_user_path(@user) %>
<% end %>